@model List<CaPSLOC.Data>

<br />
<ul>
@foreach (CaPSLOC.Data d in Model)
{
    <li>
        <a href="/CaPSLOCImages/@d.ImageFilename" data-lightbox="images" title="@(String.Format("{0} ({1}, {2}, {3}). Captured by {4} at {5}.", d.Location.Name, d.Location.Latitude, d.Location.Longitude, d.Location.Altitude, d.ALT.Name, d.CaptureTime.ToString()))">
            <img id="image@(d.Id)"  src="/CaPSLOCImages/Thumbnails/@d.ImageFilename" alt="@d.ImageFilename" />
        </a>
    </li>
}
</ul>

<style>
/* Added to support image grid */


#image-gallery-grid {
    background: #c4c4c4;
	width: @(3 * CaPSLOC.Constants.IMAGE_THUMBNAIL_SIZE + 6 * CaPSLOC.Constants.IMAGE_PADDING_SIZE + 80)px;
	margin: 0px auto;
}
 
#image-gallery-grid ul {
    list-style: none;
}
 
#image-gallery-grid ul li {
	display: inline-block;
    text-align: center;
	padding: @(CaPSLOC.Constants.IMAGE_PADDING_SIZE)px;
}
</style>

